@font-face {
  font-family: "Font";
  src: url('fonte/sunday_best/Sunday\ Best.ttf');
}

.body-style {
  background-color: #190546;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.links-style {
  display: flex;
  flex-wrap: wrap;
  font-family: "Font";
  font-size: 1.125em;
  justify-content: center;
  overflow: hidden;
}

.links-style [aria-current] {
	border-bottom: 0.125em solid #f3d033;
}

.ul-link {
  background-color: #30075E;
  list-style-type: none;
  padding: 0;
}

.ul-link li {
  float: left;
}

.ul-link li a {
  color: #FFF;
  display: block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.ul-link li a:hover {
  background-color: #65548D;
}

.title-style {
  display: flex;
  justify-content: center;
}

.title-img {
  margin: 2,5%;
}

.filters-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input,
.reset,
.options-style {
  background-color: #2b5edf;
  border: 1px solid #808080;
  border-radius: 6px;
  color: #fff;
  font-size: 0.80em;
  font-weight: 900;
  height: 40px;
  margin-right: 5px;
  padding: 0 0.5em;
}

.reset {
  color: #111;
  background-color: #f3d033;
  font-family: "Font";
  margin-left: 10px;
}

.reset:hover {
  background-color: #f3a033;
}

.options-style:hover {
  background-color: #184ed8;
}

.input,
.options-style,
input::placeholder {
  color: #fff;
  font-family: "Font";
}

.cards {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: center;
  margin: 10px;
  padding: 1%;
}

.card-style {
  align-items: center;
  background-color: #ced7f0;
  border: 1px solid #190546;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: center;
  padding: 2em;
  text-align: center;
  width: auto;
}

.footer-style h3,
a {
  color: #D4BFE3;
  text-align: center;
}

@media only screen and (min-width:561px) and (max-width:768px) {
  .links-style {
    font-size: 1.5em;
  }

  .title-img {
    margin: 7px, 36%;
    width: 85%;
  }

  .filters-style {
    flex-wrap: wrap;
  }

  .options-style {
    width: 30%;
  }

  .card-style {
    height: auto;
    width: 30%;
  }
}

@media only screen and (max-width: 560px) {
  .links-style {
    font-size: 0.9em;
  }

  .title-img {
    margin: 7px, 36%;
    width: 85%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 70%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5%;
  }

  .card-style {
    height: auto;
    width: 65%;
  }
}