@font-face {
  font-family: "Font";
  src: url('fonte/sunday_best/Sunday\ Best.ttf');
}

.body-style {
  background-color: #190546;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.links-style {
  display: flex;
  flex-wrap: wrap;
  font-family: "Font";
  font-size: 1.25em;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.05em;
  overflow: hidden;
}

.links-style [aria-current] {
	border-bottom: 0.125em solid #f3d033;
}

.ul-link {
  background-color: #30075E;
  list-style-type: none;
  padding: 0;
}

.ul-link li {
  float: left;
}

.ul-link li a {
  color: #FFF;
  display: block;
  font-size: 1.15em;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.ul-link li a:hover {
  background-color: #65548D;
}

.title-style {
  display: flex;
  justify-content: center;
}

.title-img {
  margin: 20px 0;
}

.filters-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input,
.reset,
.options-style {
  background-color: #2b5edf;
  border: 1px solid #808080;
  border-radius: 6px;
  color: #fff;
  font-family: "Font";
  font-size: 0.90em;
  font-weight: 300;
  height: 40px;
  letter-spacing: 0.05em;
  margin-right: 5px;
  padding: 0 0.5em;
}

.reset {
  height: 30px;
  margin-left: 25px;
}

.input {
  background-color: #f3d033;
  color: #09001f;
}

.reset:hover {
  background-color: #110331;
}

.options-style:hover {
  background-color: #184ed8;
}

.options-style,
input::placeholder {
  color: #fff;
  font-family: "Font";
}

.cards {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: center;
  margin: 10px;
  padding: 1%;
}

.card-style {
  align-items: center;
  background-color: #ced7f0;
  border: 1px solid #190546;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: center;
  padding: 2em;
  text-align: center;
  width: auto;
}

.footer-style {
  background-color: rgba(48, 7, 94, 0.521);
  padding: 5px;
  margin-top: 25px;
}

.footer-style h3, a {
  color: #D4BFE3;
  text-align: center;
}

.div-seta{
  display: flex;
  align-items: center;
}
.seta-poke{
  height:100px;
  width:100px;
}
@media only screen and (max-width:359px) {
  .links-style{
    font-size: 0.70em;
  }
  
  .title-img {
    width: 90%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 65%;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 2px 20px;
  }

  .options-style,
  .buttons {
    font-size: 0.8em;
    height: 30px;
  }

  .card-style {
    height: auto;
    width: 45%;
    padding: 0.5em;
  }
  
  .img-poke {
    height: 100px;
  }

  .card-style h1 {
    font-size: 1em;
  }

  .card-style p {
    font-size: 0.7em;
  }

  .footer-style h3 {
    font-size: 0.8em
  }

  .footer-style a {
    font-size: inherit;
  } 
}

@media only screen and (min-width:360px) and (max-width:560px) {
  .links-style {
    font-size: 0.75em;
  }

  .title-img {
    width: 75%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 65%;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5%;
  }

  .card-style {
    height: auto;
    width: 45%;
  }

  .img-poke {
    height: 120px;
  }

  .card-style h1 {
    font-size: 1.2em;
  }

  .card-style p {
    font-size: 0.9em;
  }

  .footer-style h3 {
    font-size: 1em
  }

  .footer-style a {
    font-size: inherit;
  } 
}


@media only screen and (min-width:561px) and (max-width:768px) {
  .links-style {
    font-size: 1.3em;
  }

  .ul-link {
    padding: 3px;
  }

  .title-img {
    width: 90%;
  }

  .filters-style {
    flex-wrap: wrap;
  }

  .options-style {
    width: 25%;
  }

  .reset {
    margin-left: 10px;
  }

  .card-style {
    height: auto;
    width: 30%;
  }
}



