@font-face {
  font-family: "Font";
  src: url("fonte/sunday_best/Sunday\ Best.ttf");
}

.body-style {
  background-color: #190546;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.links-style {
  display: flex;
  flex-wrap: wrap;
  font-family: "Font";
  font-size: 1.25em;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.05em;
  overflow: hidden;
}

.links-style [aria-current] {
  border-bottom: 0.125em solid #f3d033;
}

.ul-link {
  background-color: #30075E;
  list-style-type: none;
  padding: 0;
}

.ul-link li {
  float: left;
}

.ul-link li a {
  color: #ffffff;
  display: block;
  font-size: 1.15em;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.ul-link li a:hover {
  background-color: #65548D;
}

.title-style {
  display: flex;
  justify-content: center;
}

.title-img {
  margin: 20px 0;
}

.filters-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input,
.reset,
.options-style {
  background-color: #2b5edf;
  border: 1px solid #808080;
  border-radius: 6px;
  color: #ffffff;
  font-family: "Font";
  font-size: 0.90em;
  font-weight: 300;
  height: 40px;
  letter-spacing: 0.05em;
  margin-right: 5px;
  padding: 0 0.5em;
}

.reset {
  height: 30px;
  margin-left: 25px;
}

.input {
  background-color: #f3d033;
  color: #09001f;
}

.reset:hover {
  background-color: #110331;
}

.options-style:hover {
  background-color: #184ed8;
}

.options-style, input::placeholder {
  color: #ffffff;
  font-family: "Font";
}

.cards {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: center;
  margin: 10px;
  padding: 1%;
}

.div-seta, .card-style {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  text-align: center;
  width: auto;
}

.card-style {
  background-color: #ced7f0;
  border: 1px solid #190546;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  height: 10em;
}

.card-style a {
  color: #000d2e;
}

.div-seta {
  display: flex;
  align-items: center;
}

.seta-poke {
  height: 100px;
  width: 100px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.div-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.graphic-style {
  background-color: #ced7f0;
  width: 50%;
  height: 100%;
}

.text-container {
  display: flex;
  justify-content: center;
}

.text-style {
  background-color: #ced7f0;
  border: 1px solid #190546;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  font-size: 1em;
  height: 50%;
  margin: 2em;
  padding: 1em;
  width: 48%;
}

.text-style a {
  color: #000000;
}

.about-style {
  background-color: #30075E85;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align:left;
  width: 80%;
}

.about-style section {
  padding: 2em;
}

.about-style h1 {
  font-family: "Font";
  font-size: 2em;
}

.about-style hr {
  border-color: #ffffff;
  box-sizing: border-box;
  width: 100%;  
}

.footer-style {
  background-color: #30075E85;
  padding: 5px;
  margin-top: 25px;
}

.footer-style h3, a {
  color: #D4BFE3;
  text-align: center;
}


@media only screen and (max-width:359px) {
  .links-style {
    font-size: 1em;
  }

  .title-img {
    width: 90%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 65%;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 2px 20px;
  }

  .options-style,
  .buttons {
    font-size: 0.8em;
    height: 30px;
  }

  .card-style {
    height: auto;
    width: 45%;
    padding: 0.5em;
  }

  .img-poke {
    height: 100px;
  }

  .card-style h1 {
    font-size: 1em;
  }

  .card-style p {
    font-size: 0.7em;
  }

  .div-seta {
    -ms-transform: rotate(130deg);
    padding: 0;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
  }

  .seta-poke {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .text-container {
    width: 100%;
    height: 100%;
  }

  .text-style {
    font-size: 0.6em;
    width: 90%;
  }

  .graphic-style {
    width: 100%;
  }

  .about-style h2 {
    font-size: 0.8em;
  }

  .about-style p, 
  ul {
    font-size: 0.7em;
  }

  .about-style h1,
  .footer-style h3 {
    font-size: 0.9em
  }

  .footer-style a {
    font-size: inherit;
  }
}

@media only screen and (min-width:360px) and (max-width:560px) {
  .links-style {
    font-size: 0.95em;
  }

  .title-img {
    width: 75%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 65%;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5%;
  }

  .card-style {
    height: auto;
    width: 45%;
  }

  .img-poke {
    height: 120px;
  }

  .card-style h1 {
    font-size: 1.2em;
  }

  .card-style p {
    font-size: 0.9em;
  }

  .div-seta {
    -ms-transform: rotate(130deg);
    padding: 0;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
  }

  .seta-poke {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .text-container {
    width: 100%;
    height: 100%;
  }

  .text-style {
    font-size: 0.8em;
    width: 90%;
  }

  .graphic-style {
    width: 100%;
  }

  .about-style h2 {
    font-size: 0.9em;
  }

  .about-style p,
  ul {
    font-size: 0.8em;
  }

  .about-style h1,
  .footer-style h3 {
    font-size: 1em
  }

  .footer-style a {
    font-size: inherit;
  }
}

@media only screen and (min-width:561px) and (max-width:768px) {
  .links-style {
    font-size: 1.3em;
  }

  .ul-link {
    padding: 3px;
  }

  .title-img {
    width: 90%;
  }

  .filters-style {
    flex-wrap: wrap;
  }

  .options-style {
    width: 25%;
  }

  .options-style,
  .buttons {
    font-size: 0.75em;
  }

  .reset {
    margin-left: 10px;
  }

  .card-style {
    height: auto;
    width: 30%;
  }

  .div-seta {
    -ms-transform: rotate(130deg);
    padding: 0;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
  }

  .seta-poke {
    padding: 0;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .text-container {
    width: 100%;
    height: 100%;
  }

  .text-style {
    font-size: 1em;
    width: 80%;
  }

  .graphic-style {
    width: 100%;
  }

  .about-style h1 {
    font-size: 1.5em;
  }

  .about-style h2 {
    font-size: 1.3em;
  }

  .about-style p,
  ul {
    font-size: 1em;
  }
}