@font-face {
  font-family: 'Font';
  src: url('fonte/sunday_best/Sunday\ Best.ttf');
}

.body-style {
  background-color: #190546;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.links-style {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Font';
  font-size: 1.125em;
  justify-content: center;
  overflow: hidden;
}

.links-style [aria-current] {
  border-bottom: 0.125em solid #f3d033;
}

.ul-link {
  background-color: #30075E;
  list-style-type: none;
  padding: 0;
}

.ul-link li {
  float: left;
}

.ul-link li a {
  color: #FFF;
  display: block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.ul-link li a:hover {
  background-color: #65548D;
}

.title-style {
  display: flex;
  justify-content: center;
}

.title-img {
  margin: 2, 5%;
}

.filters-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.options-style {
  margin-left: 8px;
}

.input {

  height: 40px;
  width: 85%;


.button {

  border-radius: 0 6px 6px 0;
  width: 15%;
}

.options-style, .search-style, .input, .button {


  color: #fff;
  font-family: 'FontAwesome', 'Font';
  font-weight: 900;
  height: 40px;
}

.options-style, .search-style {
  border-radius: 6px;
  border: solid 1px #808080;
}

.input, .button {
  border: none;
  float: left;
}

.search-style input::placeholder {
  color: #fff;
  font-family: 'Font';
  font-weight: 900;
  padding: 0.41%;
}


.button:hover, .input:hover, .options-style:hover {
  background-color: #184ed8;

}

.box-container {
  flex-direction: column;
  height: 420px;
  margin: 10px;
  padding: 0 1em;
  perspective: 1000px;
  width: 300px;
}

.box-cards {
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
}

.cards {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  height: 100%;
  justify-content: center;
  margin: 10px;
  padding: 1%;
  width: 95%;
}

.card-style, .card-back {
  align-items: center;
  backface-visibility: hidden;
  background-color: #C7DDE4;
  border: 3px outset #113fb4;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  width: 100%;
}

.box-container:hover .box-cards {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.title-poke {
  color: #000614;
  font-size: 1, 5625em;
  text-align: center;
}

.title-poke h3 {
  text-align: left;
}

.img-poke {
  max-height: 120px;
}

.div-poke {
  margin: 15px;
}

.subtitle-poke, .items-poke {
  font-size: 1, 0625em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.items-poke {
  margin: 0 0 7px 0;
}

.footer-style h3, a {
  color: #D4BFE3;
  text-align: center;
}

@media only screen and (max-width:359px) {
  .ul-link {
    font-size: 0.800em;
    width: 90%;
  }
  .title-img {
    width: 130%;
  }
  .filters-style {
    flex-wrap: wrap;
  }
  .options-style {
    width: 97%;
  }
  .search-style {
    margin-left: 8px;
  }
  .box-container {
    height: 390px;
    width: 250px;
  }
}

@media only screen and (min-width:360px) and (max-width:560px) {
  .title-style {
    font-size: 1em;
  }
  .title-img {
    height: 21%;
    margin: 5, 36%;
    width: 85%;
  }
  .main-container {
    font-size: 1em;
    width: 100%;
  }
  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .options-style {
    font-size: 0.700em;
    text-align: center;
    width: 70%;
  }
  .search-style {
    display: flex;
    width: 70%;
    margin-left: 8px;
  }
  .input {
    font-size: 0.700em;
    width: 85%;
  }
  .button {
    width: 15%;
  }

}

@media only screen and (min-width:561px) and (max-width:768px) {
  .title-style {
    font-size: 1em;
  }
  .title-img {
    height: 21%;
    margin: 5, 36%;
    width: 70%;
  }

  .filters-style {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .options-style {
    text-align: center;
    width: 70%;
  }
  .search-style {
    display: flex;
    margin-left: 8px;
    width: 70%;
  }
  .input {
    width: 85%;
  }
  .button {
    width: 15%;
  }
  .links-style {
    font-size: 1.25em;
  }
}