@font-face {
  font-family: 'Font';
  src: url('fonte/sunday_best/Sunday\ Best.ttf');
}

.body-style {
  background-color: #190546;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.links-style {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Font';
  font-size: 1.125em;
  justify-content: center;
  overflow: hidden;
}

.links-style [aria-current] {
	border-bottom: 0.125em solid #f3d033;
}

.ul-link {
  background-color: #30075E;
  list-style-type: none;
  padding: 0;
}

.ul-link li {
  float: left;
}

.ul-link li a {
  color: #FFF;
  display: block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.ul-link li a:hover {
  background-color: #65548D;
}

.title-style {
  display: flex;
  justify-content: center;
}

.title-img {
  margin: 2, 5%;
}

.filters-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.options-style {
  margin-left: 8px;
}

.input {
  width: 85%;
  background-color: transparent;
}
 
.button {
  background-color: #153585;
  border-radius:0 6px 6px 0;
  color: #fff;
  font-family: 'FontAwesome', 'Font';
  font-weight: 900;
  height:40px;
  width: 15%;
}

.options-style,
.search-style,
.input {
  background-color:#2b5edf;
  height:40px;
  color: #fff;
  font-family: 'FontAwesome', 'Font';
  font-weight: 900;
}

.options-style,
.search-style {
  border: solid 1px #808080;
  border-radius: 6px;
}

.input,
.button {
  border:none;
  float:left;
}

.search-style
input::placeholder {
  color: #fff;
  font-family:'Font';
  font-weight: 900;
  padding: 0.41%;
} 

.button:hover,
.input:hover,
.options-style:hover {
  background-color: #1d45aa;
}

.cards {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: center;
  margin: 10px;
  padding: 1%;
  width: 100%;
}

.card-style {
  align-items: center;
  background-color: #C7DDE4;
  border: 3px outset #113fb4;
  box-shadow: 4px 4px #111111;
  color: #000d2e;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0 2em;
  width: 10%;
}

.title-poke {
  color: #000614;
  font-size: 1, 5625em;
  text-align: center;
}

.title-poke h3 {
  text-align: left;
}

.img-poke {
  max-height: 120px;
}

.div-poke {
  margin: 15px;
}

.subtitle-poke,
.items-poke {
  font-size: 1, 0625em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.items-poke {
  margin: 0 0 7px 0;
}

.footer-style h3,
a {
  color: #D4BFE3;
  text-align: center;
}


@media only screen and (max-width: 560px) {

  .title-style {
    font-size: 1em;
  }

  .title-img {
    height: 21%;
    margin: 5, 36%;
    width: 85%;
  }

  .main-container {
    font-size: 1em;
    width: 100%;
  }

  .filters-style {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 70%;
  }

  .search-style {
    display: flex;
    width: 70%;
  }

  .input{ 
    width: 85%;
  }

  .button {
    width: 15%;
  }

  .card-style {
    width: 40%;
  }
}


@media only screen and (min-width:561px) and (max-width:768px) {
  .title-style {
    font-size: 1em;
  }

  .title-img {
    height: 21%;
    margin: 5, 36%;
    width: 70%;
  }

  .card-style {
    width: 31%;
  }

  .filters-style {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .options-style {
    margin: 0.5%;
    text-align: center;
    width: 70%;
  }

  .search-style {
    display: flex;
    margin: 0.5%;
    width: 70%;
  }

  .input{ 
    width: 85%;
  }

  .button {
    width: 15%;
  }

  .links-style {
    font-size: 1.25em;
  }
}