body {
  background-color: #190546;
}

.cards {
  /* border: 5px solid black; */
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  margin: 1em;
  padding: 3em;
}

.card-style {
  border: 2px dotted blueviolet;
  font-size: 1.2em;
  height: auto;
  margin: 5px;
  padding: 3em;
  width: 4.5%;
  max-width: 400px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  /* color: #1f209e;
  font-size: 80px;
  text-align: center;
  font-family: 'pokemon'; */
  display: flex;
  justify-content: center;
}

img {
  max-height: 200px;
  width: auto;
  height: auto;
}

.search,
.btSearch,
.options {
  border-radius: 6px;
  background-color: #2b5edf;
  color: #fff;
  font-size: 18px;
  border: solid 1px #808080;
}

input::placeholder {
  color: #fff;
}

a:link,
a:link:active,
a:visited:active,
a:visited {
  color: #DCDCDC;
  text-decoration: underline;

}