body {
  background-color: #190546;
}

.cards {
  /* border: 5px solid black; */
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  margin: 1em;
  padding: 3em;
}

.card-style {
  background-color: #070F3A;
  border: 2px dotted blueviolet;
  color: #7C84AE;
  font-size: 1.2em;
  height: auto;
  margin: 10px;
  max-width: 400px;
  padding: 3em;
  width: 5%;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

img {
  max-height: 200px;
  width: auto;
  height: auto;
}

.options {
  border-radius: 6px;
  background-color: #2b5edf;
  color: #fff;
  font-size: 18px;
  border: solid 1px #808080;
}

input::placeholder {
  color: #fff;
}

a:link,
a:link:active,
a:visited:active,
a:visited {
  color: #DCDCDC;
  text-decoration: underline;
}

.links-style {
  /* border: 5px solid black; */
  background-color: #070F3A;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: gray;
}

.active {
  background-color: #6B4E90;
}